@model IEnumerable<PersonalSite.Models.Project>

@{
    ViewData["Title"] = "Projects";
}

<h2 class="jumbotron">Top Starred Projects</h2>
<hr />
<div class="container">
    @foreach (var project in Model.OrderByDescending(x => x.stargazers_count).Take(3))
    {
        <div class="card">
            <a class="card-header" href="@project.html_url">@project.full_name </a>
            <div class="card-body">
                @for (int i = 0; i < int.Parse(project.stargazers_count); i++)
                {
                    <i class="fa fa-star"></i>
                }
                <p class="card-text">@project.description</p>
                <a href="@project.html_url" class="btn btn-primary">View</a>
            </div>
            <div class="card-footer text-muted">
                Made in @project.language - Last updated @project.updated_at
            </div>
        </div>
    }
</div>
